.section {
  padding-top: 3rem;
}

.slideshow {
  background-color: #2e64aa;
  padding-top: 4.5rem;
}

.carousel {
  height: 90vh;
  justify-content: center;
}

.carousel-item {
  margin-top: 1rem;
}

.row-carousel {
  height: auto;
}

.carousel img {
  height: 40vh;
}

.caption-100 {
  margin: 0 !important;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #a01414;
	border-bottom: 25px solid transparent;
}

.caption {
  /* background-color: #ffffff7a;  */
  width: 100vw;
  color: #fff;
}

.w-button {
  color: #2e64aa;
  font-weight: 600;
}

.w-button:hover {
  background-color: #2e64aa;
  color: #fff;
}

.text-abu {
  color: #70707e;
}

.judul {
  margin: 1px auto;
  text-align: center;
  color: #70707e;
  max-width: 600px;
  position: relative;
}

.judul::before {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #70707e3f;
  left: 0;
  top: 40%;
  position: absolute;
}

.judul::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #70707e3f;
  right: 0;
  top: 40%;
  position: absolute;
}

.box {
  margin-top: 1rem;
}

.card {
  padding: 1rem 1rem 1rem 1rem;
}

.card-title {
  font-weight: 600;
}

.card-icon {
  color: #70707e;
  font-size: 50px !important;
}

.card-body {
  padding-left: 0px;
}

.third {
  margin-top: 1.5rem;
  background-color: #2e64aa;
  padding-left: 1rem;
  padding-right: 1rem;
}

.iPhone img {
  border-radius: 0.375rem;
  width: 95%;
  margin-top: -3rem;
  margin-bottom: -4rem;
}

.dev-img {
  border-radius: 1rem 1rem 1rem 1rem;
}

.logodev {
  width: 15%;
}

.harga {
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 800;
  line-height: 2;
}

.fitur p {
  color: #70707e;
  font-size: 14px;
  font-weight: 600;
}

.check {
  color: #2e64aa;
  font-weight: 900;
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.trapesium {
  width: 150px;
  height: 0;
  border-bottom: 15px solid #2e64aa;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.contact-float {
  width: auto !important;
  font-size: 22px;
  background-color: #fff;
  color: #2e64aa;
  /* border: 2px solid #2e64aa; */
  border-radius: 50%;
  box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.25);
  border: none;
}

.contact-float:hover {
  background-color: #2e64aa;
  color: #fff;
}

.damkar {
  background-color: #2e64aa;
  text-align: center;
  width: 100vw;
}

.damkar img {
  height: 40vh;
}

.contact-fade {
  width: auto !important;
  font-size: 14px;
  padding: 0 !important;
  border: 0.5px solid #ffffff31;
  border-radius: 50% !important;
  box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.25);
  margin-top: 0.5rem !important;
}

.contact-fade img {
  width: 40px;
  height: 40px;
}

.btn-group-vertical {
  align-items: center;
}

.icontact {
  margin-top: -4px;
}

.dropdown-toggle {
  white-space: 0;
}

/* animasi float kontak */
/* YourComponent.css */
.fade-in-right-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-in-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-in-right-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}
/* animasi */

.react-multiple-carousel__arrow {
  background-color: #2e64aa !important;
  opacity: 0.8 !important;
}

.react-multiple-carousel__arrow--right {
  margin-right: 0.2rem;
}

.react-multiple-carousel__arrow--left {
  margin-left: 0.2rem;
}

@media (min-width: 992px) {

  .carousel {
    height: 87vh;
    justify-content: center;
    padding-top: 2rem;
  }

  .carousel img {
    width: 100vh;
    height: auto;
  }

  .caption {
    background-color: #ffffff21;
    width: 100vh;
    padding: 2rem 2rem 2rem 2rem !important;
    margin-top: 0 !important;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.251);
    text-align: end;
  }

  .imgslide {
    text-align: right !important;
  }

  .carousel-caption {
    position: inherit;
    text-align: left;
    word-break: break-word;
  }

  .card {
    padding: 10% 10% 10% 10%;
    border: none;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 20px 80px 0px rgba(192.99999999999997, 199, 212, 0.25098039215686274);
  }

  .tag {
    color: #70707e;
  }

  .title {
    font-size: 20px;
    font-weight: 900;
  }

  div.card-title.h5 {
    font-size: 22px;
    font-weight: 900;
    margin: 0px;
  }

  p.card-text {
    text-shadow: none;
  }

  .thirdcontent {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .iPhone {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}
