/* FirstContent */

.slideshow {
  background-color: #2e64aa;
}

.carousel {
  height: 100vh;
  justify-content: center;
}

.carousel img {
  width: 100vh;
  height: auto;
}

.imgslide {
  text-align: right !important;
}

.carousel-caption {
  position: inherit;
  text-align: left;
  word-break: break-word;
}

/* FirstContent */

.text-abu {
  color: #70707e;
}
h1,
p {
  text-shadow: 5px 5px 10px black;
}

/* SecondContent */

.card {
  padding: 10% 10% 10% 10%;
  border: none;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 20px 80px 0px rgba(192.99999999999997, 199, 212, 0.25098039215686274);
}

.tag {
  color: #70707e;
}

.title {
  font-size: 20px;
  font-weight: 900;
}

div.card-title.h5 {
  font-size: 22px;
  font-weight: 900;
  margin: 0px;
}

p.card-text {
  text-shadow: none;
  /* font-size: 12px; */
}

/* SecondContent */

/* ThirdContent */

.thirdcontent {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.iPhone {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* ThirdContent */
