/* #Navigation
================================================== */

.navbar.start-header {
  opacity: 1;
  transform: translateY(0);
  box-shadow: none;
  padding: 20px 0 !important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: transparent !important;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 10px 0 !important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
  height: 24px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar.navigation-wrap {
  background-color: #2e64aae8;
  padding: 10px 0;
  /* position: fixed; */
  /* width: 100%; */
  /* top: 0px; */
  /* left: 0; */
  /* z-index: 1000; */
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar {
  padding: 0;
  box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.25);
}
.navbar-brand img {
  height: 28px;
  width: auto;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar-toggler {
  float: right;
  border: none;
}
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
.nav-link {
  color: #ededed !important;
  font-weight: 500;
  transition: all 200ms linear;
}
.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}
.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #dddddd;
  opacity: 0;
  transition: all 200ms linear;
}
.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}
.nav-item {
  position: relative;
  transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
}

.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  height: 100vh;
}
.over-hide {
  overflow: hidden;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
}
.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.3);
  transition: all 200ms linear;
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 3px 15px;
  color: #212121;
  border-radius: 2px;
  transition: all 200ms linear;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #2e64aa;
}

.nav-link {
  margin-left: 1.5rem !important;
}

.nav-link.active {
  color: #ffffff80 !important;
  pointer-events: none;
}
.btn-blue {
  color: #2e64aa !important;
  font-weight: 600;
  background-color: #fff;
  border: 2px solid #fff;
}
.btn-blue:hover {
  color: #fff !important;
  font-weight: 600;
  background-color: #2e64aa;
  border: 2px solid #fff;
}
.navbar-expand-md .navbar-collapse {
  flex-grow: 0 !important;
}
.f-damkar {
  border-radius: 6px;
  border: 1px solid #2e64aa !important;
  color: #2e64aa;
}

/* #Media
================================================== */

@media (max-width: 768px) {
  .navbar-toggler {
    color: #fff !important;
    margin-right: 5px !important;
    border: 1px solid #dbdbdbe7;
  }
  .offcanvas {
    max-width: 65%;
  }
  .btn-blue {
    margin-top: 1rem;
    background-color: #2e64aa;
    border: none;
    color: #fff !important;
  }
  .canvas-footer {
    padding: none;
    margin-bottom: 3rem;
  }
  .btn-sos {
    border: none;
    background-color: none;
    padding: 0;
    margin: 0;
  }

  .iMedsos {
    color: #555;
    font-size: 17px;
    margin: 0;
  }

  .iMedsos-c {
    color: #555;
    font-size: 17px;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
  }
  .nav-link {
    letter-spacing: 1px;
    color: #555 !important;
  }
  .nav-link.active {
    color: #5555556b !important;
    /* text-decoration: line-through; */
    pointer-events: none;
  }
  /* .dropdown-item.active {
    background-color: none !important;
    color: #5555556b !important;
    pointer-events: none;
  } */
  .nav-link:focus,
  .nav-link:hover {
    color: #555;
  }
  .nav-item {
    margin-top: 0.7rem;
  }
  .nav-item:after {
    display: none;
  }
  .nav-item::before {
    position: absolute;
    display: block;
    top: 15px;
    left: -20px;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
  }
  .dropdown::before {
    position: absolute;
    display: block;
    top: 15px;
    left: 4px;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
  }
  .dropdown-toggle::after {
    position: absolute;
    display: block;
    top: 10px;
    left: -19px;
    width: 1px;
    height: 11px;
    content: "";
    border: none;
    background-color: #000;
    transition: all 200ms linear;
  }
  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
    opacity: 0;
  }
  .dropdown-menu {
    padding: 0 0 0 1rem !important;
    background-color: transparent;
    box-shadow: none;
    transition: all 200ms linear;
  }
  .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
}

/* #Link to page
================================================== */

.logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
  filter: brightness(10%);
  transition: all 250ms linear;
}
