/* #Navigation
================================================== */

.navbar.start-header {
  opacity: 1;
  transform: translateY(0);
  box-shadow: none;
  padding: 20px 0 !important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-image: none !important;
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 10px 0 !important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on {
  height: 24px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar.navigation-wrap {
  background-image: linear-gradient(200deg, #2e64aa, #2e64aaec, #2e64aad2, #2e64aa88, #2e64aa67, #2e64aa33);
  padding: 10px 0;
  -webkit-backdrop-filter: blur(15px) brightness(75%) saturate(70%);
  backdrop-filter: blur(15px) brightness(75%) saturate(70%);
  /* position: fixed; */
  /* width: 100%; */
  /* top: 0px; */
  /* left: 0; */
  /* z-index: 1000; */
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar {
  padding: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
  height: 28px;
  width: auto;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.start-nav img {
  height: 30px;
}
.scroll-nav img {
  height: 28px;
}

.navbar-toggler {
  float: right;
  border: none;
}
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
.nav-link {
  color: #fff !important;
  font-weight: 500;
  transition: all 200ms linear;
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
  text-shadow: 2px 2px 5px #555;
}
.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #dddddd;
  opacity: 0;
  transition: all 200ms linear;
}
.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}
.nav-item {
  position: relative;
  transition: all 200ms linear;
}
.start-btn {
  color: #2e64aa !important;
  font-weight: 600;
  text-shadow: 1px 1px 1px #fff;
  box-shadow: rgb(63 63 63 / 50%) 0px 5px 10px 0px;
}

.scroll-btn {
  color: #2e64aa !important;
  font-weight: 600;
  text-shadow: 1px 1px 1px #fff;
  box-shadow: rgb(63 63 63 / 50%) 0px 5px 10px 0px;
}

/* #Primary style
================================================== */

.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  height: 100vh;
}
.over-hide {
  overflow: hidden;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
}
.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.3);
  transition: all 200ms linear;
}
.nav-item.show .dropdown-menu::before {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  top: -16px;
  left: 50%;
  margin-left: -37px;
}
.dropdown-toggle::after {
  display: none;
}
.nav-item.show .dropdown-menu {
  transform: translate3d(0, 2px, 0);
  box-shadow: rgb(63 63 63 / 50%) 0px 5px 10px 0px;
}
.nav-drop:hover:after {
  opacity: 0;
}

.dropdown-item {
  padding: 3px 15px;
  /* color: #212121; */
  border-radius: 2px;
  transition: all 200ms linear;
  color: #555;
  font-weight: 600;
  text-shadow: 1px 1px 1px #fff;
  margin: 5px 0 5px 0;
}
.drop-a {
  overflow: hidden;
  position: relative;
}
.drop-a::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #2e64aa, transparent);
  transform: translateX(-100%);
  transition: 0.6s;
  position: absolute;
}
.drop-a:hover,
.drop-a:focus {
  background: transparent;
  box-shadow: 0 0 2px 0.5px #0698f3;
  /* box-shadow: 0 0 20px 5px #009ad1; */
}
.drop-a:hover::before {
  transform: translateX(100%);
}

.nav-link {
  margin-left: 1.5rem !important;
}

.nav-link.active {
  color: #ffffff80 !important;
  pointer-events: none;
}
.btn-a {
  border: none !important;
  color: #2e64aa !important;
  text-transform: uppercase;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  background: #fff !important;
}
.btn-a::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #2e64aa, transparent);
  transform: translateX(-100%);
  transition: 0.6s;
  position: absolute;
}
.btn-a:hover {
  background: transparent;
  box-shadow: 0 0 2px 0.5px #0698f3;
}
.btn-a:hover::before {
  transform: translateX(100%);
}
.navbar-expand-md .navbar-collapse {
  flex-grow: 0 !important;
}
.f-damkar {
  border-radius: 6px;
  border: 1px solid #2e64aa !important;
  color: #2e64aa;
}

/* #Media
================================================== */

@media (max-width: 768px) {
  .navbar.navigation-wrap {
    background-image: linear-gradient(180deg, #2e64aa, #2e64aaec);
  }
  .start-nav img {
    height: 28px;
  }
  .scroll-nav img {
    height: 28px;
  }
  .navbar-toggler {
    color: #fff !important;
    margin-right: 5px !important;
    border: 1px solid #dbdbdbe7;
  }
  .offcanvas {
    background-color: rgba(240, 240, 240, 0.85);
    max-width: 65%;
    -webkit-backdrop-filter: blur(3px) brightness(100%) saturate(100%);
    backdrop-filter: blur(3px) brightness(100%) saturate(100%);
  }
  .offcanvas-body {
    padding: 0 2.5rem !important;
  }
  .btn-a.dropdown-item {
    background-color: transparent !important;
  }
  .bg-blue {
    margin: 1rem 0 0 0 !important;
    background-color: #2e64aae3 !important;
    color: #fff !important;
  }
  .canvas-footer {
    padding: none;
    margin-bottom: 3rem;
  }
  .btn-sos {
    border: none;
    background-color: none;
    padding: 0;
    margin: 0;
  }

  .iMedsos {
    color: #555;
    font-size: 17px;
    margin: 0;
  }

  .iMedsos-c {
    color: #555;
    font-size: 17px;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
  }
  .nav-link {
    color: #555 !important;
    text-shadow: none;
  }
  .nav-link.active {
    color: #5555556b !important;
    /* text-decoration: line-through; */
    pointer-events: none;
  }
  /* .dropdown-item.active {
    background-color: none !important;
    color: #5555556b !important;
    pointer-events: none;
  } */
  .nav-link:focus,
  .nav-link:hover {
    color: #555;
  }
  .nav-item {
    margin-top: 0.7rem;
  }
  .nav-item:after {
    display: none;
  }
  .nav-item::before {
    position: absolute;
    display: block;
    top: 15px;
    left: -20px;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
  }
  .dropdown::before {
    position: absolute;
    display: block;
    top: 15px;
    left: 4px;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
  }
  .nav-item.show .dropdown-menu::before {
    content: none;
  }
  .dropdown-toggle::after {
    position: absolute;
    display: block;
    top: 10px;
    left: -19px;
    width: 1px;
    height: 11px;
    content: "";
    border: none;
    background-color: #000;
    transition: all 200ms linear;
  }
  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
    opacity: 0;
  }
  .dropdown-menu {
    padding: 0 0 0 1rem !important;
    background-color: transparent;
    box-shadow: none !important;
    transition: all 200ms linear;
  }
  .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
}

/* #Link to page
================================================== */

.logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
  filter: brightness(10%);
  transition: all 250ms linear;
}
