.navbar {
  background-color: #2e64aa;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.logo-blue {
  width: 105px;
  height: 30px;
}

.basic-navbar-nav {
  color: #fff;
}

.nav-link {
  letter-spacing: 1px;
  color: #555;
}

.nav-link.active,
.nav-link.show {
  color: #555;
  border-bottom: 2px solid #ffffffa2;
}

.nav-link:focus,
.nav-link:hover {
  color: #555;
}

a.dropdown-item {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #555;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-menu {
  border: none;
}

.btn-blue {
  margin-top: 1rem;
  background-color: #2e64aa;
  border: none;
  color: #fff;
}

.btn-blue:hover {
  background-color: #235da8;
}

.offcanvas {
  max-width: 65%;
}

.canvas-footer {
  padding: none;
  margin-bottom: 3rem;
}
.btn-sos {
  border: none;
  background-color: none;
  padding: 0;
  margin: 0;
}

.iMedsos {
  color: #555;
  font-size: 17px;
  margin: 0;
}

.iMedsos-c {
  color: #555;
  font-size: 17px;
  margin-left: 2.3rem;
  margin-right: 2.3rem;
}

@media (min-width: 992px) {

  .navbar{
    /* margin: 12px 10px 10px 10px; */
    padding: 12px 10px 10px 10px;
    box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.25);
  }
  
  .con-nav {
    justify-content: space-around !important;
  }

  .navbar-expand-md .navbar-nav {
    flex-direction: row;
    display: -webkit-box;
  }

  .nav-link {
    letter-spacing: 1px;
    color: #fff;
  }

  .nav-link.active,
  .nav-link.show {
    color: #e2e2e2;
  }
  
  .nav-link:focus,
  .nav-link:hover {
    color: #e2e2e2;
  }

  .btn-blue {
    font-weight: 600;
    color: #2e64aa;
    background-color: #fff;
    margin-top: 0;
    width: 15% !important;
  }

  .logo-blue {
    width: 113px;
    height: 30px;
  }

  .sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    z-index: 99;
  }

  .basic-navbar-nav {
    justify-content: flex-end !important;
  }

  .w-button {
    border-radius: 50px;
    box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.1);
    font-weight: 100px;
  }

  /* CSS untuk dropdown item */
  .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transition-delay: 5s;
  }
  
  .dropdown-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
