body {
  font-family: "Poppins", sans-serif !important;
  line-height: 1.5px;
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg"); */
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 200ms linear;
  letter-spacing: 1.5px !important;
}

/* Scrollbar CSS */
* {
  scrollbar-width: auto;
  scrollbar-color: #2e64aa #ffffff00;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e7daa;
  border-radius: 10px;
  border: 5px none #f41515;
}
/* Scrollbar CSS */

/* Divider */
.h-divider {
  margin: auto;
  margin-top: 80px;
  width: 80%;
  position: relative;
}

.h-divider .shadow {
  margin-top: 9px;
  overflow: hidden;
  height: 1px;
}

.h-divider .shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px rgb(146, 146, 146);
}
/* Divider */

/* HeroContent ################################################################### */
.slideshow {
  height: 100vh;
  color: #fff;
  background-color: #2e64aa;
  /* background-image: url(./assets/img/bg-armadacom.png); */
  /* background-repeat: no-repeat; */
  /* background-position-y: center; */
  /* background-position-x: center; */
  /* padding-top: 4.5rem; */
}
/* .slideshow{
  background: linear-gradient(-45deg, #b90c4f, #2e64aa, #b90c4f);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
.gradient-overlay {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(270deg, #2e64aa, #2e64aa, #2e64aa, #2e64aa73, #2e64aa33, #2e64aa21, #2e64aa00);
  opacity: 1;
}
.banner {
  margin-top: 0;
}
.textBanner {
  position: absolute;
  top: 30%;
  transform: translate(25%, 0);
  padding: 1rem 25rem;
}

@media (max-width: 768px) {
  .slideshow {
    background-color: #2e64aa;
    background-image: none;
  }
  .gradient-overlay {
    background-image: linear-gradient(0deg, #2e64aa, #2e64aa, #2e64aa, #2e64aa73, #2e64aa33, #2e64aa21, #2e64aa00);
  }
  .textBanner {
    top: unset;
    bottom: 30%;
    transform: translate(0%, 40%);
    padding: 0rem 1rem;
  }
  .carousel-control-prev {
    display: none !important;
  }
  .carousel-control-next {
    display: none !important;
  }
}
/* HeroContent */

/* AboutContent ################################################################### */
.cabout {
  padding: 5rem 10rem 5rem 10rem;
  color: #555;
}
.aboutcol {
  padding: 2rem 2rem 2rem 0rem !important;
}
.title h2::after {
  background: #2e64aa;
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  margin-top: 1rem;
}
.body-text {
  font-size: 15px;
  color: #9b9b9b;
}

/* custom-card */
/* .a-drop {
  padding: 1rem;
}
.drop {
  position: relative;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05), inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s ease-in-out;
  background-color: #fff;
}
.drop:nth-child(1) {
  border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
}
.drop:nth-child(2) {
  border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
}
.drop:nth-child(3) {
  border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}
.drop:nth-child(4) {
  border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
}
.drop:hover {
  border-radius: 50%;
}
.drop::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 85px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.9;
}
.drop::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 110px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.9;
}
.content-drop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem 3rem 3rem 3rem;
  gap: 15px;
} */
/* custom-card */

@media (max-width: 768px) {
  .cabout {
    padding-top: 3rem;
  }
  .about {
    background-color: #fff;
    box-shadow: none !important;
  }
}
/* AboutContent */

/* ServiceContent ################################################################# */
.service {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(219 230 255 / 99%) 0px 5px 10px 0px;
  border-radius: 15px;
}
.appservice {
  background-color: #2e64aa !important;
  border-radius: 15px;
}
.iPhone img {
  width: 65%;
  /* margin-left: 3rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* margin-top: -3rem; */
  /* margin-bottom: -4rem; */
}
.aservice {
  color: #555;
  border-radius: 15px;
  background-color: #fff;
  /* border: 2px solid #555; */
}

@media (max-width: 768px) {
  .service {
    border-radius: 0;
    box-shadow: none !important;
  }
  .appservice {
    height: 100vh;
    border-radius: 0;
    margin-top: -0.3rem !important;
  }
  .iPhone img {
    width: 60%;
    height: 90%;
    /* margin-left: 3rem; */
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .aservice {
    margin-bottom: 0rem !important;
    border-radius: 0;
  }
}
/* ServiceContent */

/* DamkarContent ################################################################# */
.damkar {
  box-shadow: rgb(219 230 255 / 99%) 0px 5px 10px 0px;
  background-color: #2e64aa !important;
  border-radius: 15px;
  height: 100%;
}

.gbdamkar img {
  width: 75%;
}

.logodankar {
  width: 80%;
}

@media (max-width: 768px) {
  .damkar {
    height: 100vh;
    border-radius: 0;
    margin-top: -0.3rem !important;
  }
  .gbdamkar img {
    width: 80vw;
  }
}
/* DamkarContent */

/* SoftwareContent ############################################################### */
.software {
  box-shadow: rgb(219 230 255 / 99%) 0px 5px 10px 0px;
  background-color: #fff;
  border-radius: 15px;
  height: 100%;
  color: #555;
}

.devimg {
  overflow: hidden;
}
.devimg img {
  height: 100ch;
  border-radius: 15px;
  margin-left: -0.7rem;
}

.logodev {
  width: 100%;
}

/* .card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(31, 124, 211, 0.12)12), 0 4px 8px rgba(0, 0, 0, 0.06); 
} */

.carddev:hover {
  transition: 0.6s ease-in-out;
  background-color: #2e64aa;
}
.carddev .card2 {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s ease-in-out;
  margin-top: -15rem;
  padding-bottom: 2rem;
}
.carddev:hover .card2 {
  transform: translateY(0);
  color: #fff;
  opacity: 1;
}

.carddev:hover .c1,
.carddev:hover .c2,
.carddev:hover .c3,
.carddev:hover .c4 {
  transition: 0.6s ease-in-out;
  opacity: 0;
}

@media (max-width: 768px) {
  .software {
    box-shadow: none;
  }
  .devimg img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}
/* SoftwareContent */

/* Testimonials ################################################################### */
.testimonials {
  box-shadow: rgb(219 230 255 / 99%) 0px 5px 10px 0px;
  background-color: #fff;
  border-radius: 20px;
  /* height: 100vh; */
  color: #555;
  cursor: -webkit-grab;
  cursor: grab;
}

@media (max-width: 768px) {
  .testimonials {
    box-shadow: none;
  }
}
/* Testimonials */

/* ContactFloat ################################################################### */
.float {
  z-index: 3 !important;
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
  margin-right: 3rem;
  margin-bottom: 3rem;
}
.contact-float {
  width: auto !important;
  font-size: 40px;
  background-color: #fff !important;
  color: #2e64aa !important;
  border-radius: 50% !important;
  box-shadow: rgb(63 63 63 / 50%) 0px 5px 10px 0px;
  border: none;
}

.contact-float:hover {
  background-color: #2e64aa !important;
  color: #fff !important;
}
.contact-fade {
  width: auto !important;
  font-size: 14px;
  padding: 0 !important;
  border: 0.5px solid #ffffff31;
  border-radius: 50% !important;
  box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.25);
  margin-top: 0.5rem !important;
}

.contact-fade img {
  width: 40px;
  height: 40px;
}

.btn-group-vertical {
  align-items: center;
}

.icontact {
  margin-top: -4px;
}
/* animasi float kontak */
.fade-in-right-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-in-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-in-right-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}
/* animasi */
@media (max-width: 768px) {
  .float {
    margin-right: 2rem;
    margin-bottom: 2.5rem;
  }
}
/* ContactFloat */
