/* palette */
/* .color1 {
 color: #2E64AA;
}
.color2 {
 color: #009AD1;
}
.color3 {
 color: #00CCD8;
}
.color4 {
 color: #72FACA;
}
.bg-color1 {
  background-color: #2E64AA !important;
}
.bg-color2 {
  background-color: #009AD1 !important;
}
.bg-color3 {
  background-color: #00CCD8 !important;
}
.bg-color4 {
  background-color: #72FACA !important;
} */
.color1 {
  color: #2e64aa;
}
.color2 {
  color: #8ecddd;
}
.color3 {
  color: #fffadd;
}
.color4 {
  color: #ffcc70;
}
.bg-color1 {
  background-color: #2e64aa !important;
}
.bg-color2 {
  background-color: #8ecddd !important;
}
.bg-color3 {
  background-color: #fffadd !important;
}
.bg-color4 {
  background-color: #ffcc70 !important;
}
/* palette */

body {
  font-family: "Poppins", sans-serif !important;
  line-height: 1.5px;
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg"); */
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 200ms linear;
  letter-spacing: 1.5px !important;
}

/* Scrollbar CSS */
* {
  scrollbar-width: auto;
  scrollbar-color: #2e64aa #ffffff00;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e7daa;
  border-radius: 10px;
  border: 5px none #f41515;
}
/* Scrollbar CSS */

/* Divider */
.h-divider {
  margin: auto;
  margin-top: 80px;
  width: 80%;
  position: relative;
}

.h-divider .shadow {
  margin-top: 9px;
  overflow: hidden;
  height: 1px;
}

.h-divider .shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px rgb(146, 146, 146);
}
/* Divider */

/* HeroContent ################################################################### */
.slideshow {
  height: 100vh;
  color: #fff;
  /* background-image: url(./assets/img/bg-armadacom.png); */
  /* background-repeat: no-repeat; */
  /* background-position-y: center; */
  /* background-position-x: center; */
  /* padding-top: 4.5rem; */
}
/* .slideshow{
  background: linear-gradient(-45deg, #b90c4f, #2e64aa, #b90c4f);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
.gradient-overlay {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(260deg, #2e64aa, #2e64aa, #0099d1, #0099d1, #72faca5e, #72faca2a, #72faca00, #72faca00, #72faca00);
  /* background-image: linear-gradient(270deg, #2E64AA,#2e64aaec, #009AD1, #00cdd880, #72faca21, #72faca00, #72faca00); */
  /* background-image: linear-gradient(270deg, #2e64aa, #2e64aa, #2e64aa, #2e64aa73, #2e64aa33, #2e64aa21, #2e64aa00); */
  opacity: 1;
}
.banner {
  margin-top: 0;
}
.textBanner {
  position: absolute;
  top: 30%;
  transform: translate(25%, 0);
  padding: 1rem 25rem;
}

@media (max-width: 768px) {
  .slideshow {
    background-color: #2e64aa;
    background-image: none;
  }
  .gradient-overlay {
    background-image: linear-gradient(30deg, #2e64aa, #2e64aaec, #0099d1e3, #00cdd875, #72faca1e, #72faca00, #72faca00);
    /* background-image: linear-gradient(0deg, #2e64aa, #2e64aa, #009AD1, #00CCD8, #72FACA, #2e64aa21, #2e64aa00); */
  }
  .textBanner {
    top: unset;
    bottom: 30%;
    transform: translate(0%, 40%);
    padding: 0rem 1rem;
  }
  .carousel-control-prev {
    display: none !important;
  }
  .carousel-control-next {
    display: none !important;
  }
  .textBanner {
    bottom: 28%;
  }
}
/* HeroContent */

/* AboutContent ################################################################### */
.cabout {
  padding: 5rem 3rem 0rem 3rem !important;
  color: #555;
}
.aboutcol {
  padding: 2rem 3rem 2rem 0rem !important;
}
.title h6::after {
  background: #009ad1;
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  margin-top: 0.3rem;
}
.title h2 {
  color: #555;
}
.body-text {
  font-size: 15px;
  color: #9b9b9b;
}
.acard {
  color: #009ad1;
  border-radius: 11px;
  border: 0;
}
.about-card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
  /* border-radius: 15px; */
  margin: 1rem 0rem 1.5rem 1rem !important;
  /* padding: 10px 15px; */
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 200px;
  transition: 1s;
}

.about-icon {
  border-radius: 50%;
  background-color: #009ad1;
  width: 60px !important;
  height: 60px;
  box-shadow: 5px 5px 0 0 rgb(85 108 214 / 15%);
  color: #fff;
  margin-bottom: 1rem;
  transition: 1s;
}
.title-card {
  text-shadow: 2px 2px 5px #55555555;
  color: #555;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-shadow: 0 5px 4px 0 rgba(136, 144, 195, 0.2);
}
.about-card::before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.about-card:hover::before {
  background: #00cdd828;
}

.about-card:hover {
  background: #009ad1;
  color: #fff;
  transform: scale(1.05);
  z-index: 9;
}

.about-card:hover .about-icon {
  color: #009ad1;
  background-color: #fff;
  box-shadow: none;
}
.about-card:hover .title-card {
  color: #fff;
}
.about-card:hover .body-text {
  color: #fff;
}

/* .hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
} */

@media (max-width: 768px) {
  .cabout {
    padding: 2.5rem 3rem 0rem 3rem !important;
    color: #555;
  }
  .aboutcol {
    padding: 2rem 0rem 1rem 0rem !important;
  }
  .title h6::after {
    background: #009ad1;
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    margin-top: 0.3rem;
  }
  .title h2 {
    color: #555;
  }
  .body-text {
    font-size: 15px;
    color: #9b9b9b;
  }
  .acard {
    color: #009ad1;
    border-radius: 11px;
    border: 0;
    padding: 0 !important;
  }
  .about-card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    /* border-radius: 15px; */
    margin: 0.6rem 0 !important;
    /* padding: 10px 15px; */
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 200px;
    transition: 1s;
  }
}
/* AboutContent */

/* ServiceContent ################################################################# */
.cservice {
  padding: 4rem 0 0 0 !important;
}
.service {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgb(219 230 255 / 99%) 0px 5px 10px 0px; */
  border-radius: 15px;
}
.appservice {
  background-image: linear-gradient(200deg, #2e64aac2, #2e64aaec, #009ad1, #00cdd880);
  border-radius: 15px;
}
.iPhone img {
  width: 65%;
  /* margin-left: 3rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* margin-top: -3rem; */
  /* margin-bottom: -4rem; */
}
.aservice {
  color: #555;
  border-radius: 15px;
  background-color: #fff;
  /* border: 2px solid #555; */
}

.ts {
  text-shadow: 2px 2px 5px #555 !important;
}

@media (max-width: 768px) {
  .cservice {
    padding: 3rem 0 0 0;
  }
  .service {
    border-radius: 0;
    box-shadow: none !important;
  }
  .appservice {
    background-image: linear-gradient(200deg, #2e64aac2, #2e64aaec, #009ad1, #00cdd880);
    height: 100vh;
    border-radius: 0;
    margin-top: -0.3rem !important;
  }
  .iPhone img {
    width: 60%;
    height: 90%;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .aservice {
    margin-bottom: 0rem !important;
    border-radius: 0;
  }
}
/* ServiceContent */

/* DamkarContent ################################################################# */
.cdamkar {
  padding: 4rem 0 0 0 !important;
}
.damkar {
  box-shadow: rgb(219 230 255 / 99%) 0px 5px 10px 0px;
  background-image: linear-gradient(200deg, #2e64aac2, #2e64aaec, #009ad1, #00cdd880);
  border-radius: 15px;
  height: 100%;
}

.gbdamkar img {
  width: 75%;
}

.logodamkar {
  width: 80%;
}

.dtext {
  font-size: 15px;
}

@media (max-width: 768px) {
  .cdamkar {
    padding: 1rem 0 0 0 !important;
  }
  .damkar {
    height: 100vh;
    background-image: linear-gradient(180deg, #2e64aa, #2e64aaec, #009ad1, #009ad1, #009ad1, #00cdd8cb);
    border-radius: 0;
    margin-top: -0.3rem !important;
  }
  .gbdamkar img {
    margin: -3rem 0 0 0;
    width: 80vw;
  }
  .logodamkar {
    margin: -3rem 0 1rem 0;
  }
}
/* DamkarContent */

/* SoftwareContent ############################################################### */
.csoftware {
  padding: 4rem 0 0 0 !important;
}
.software {
  /* box-shadow: rgb(219 230 255 / 99%) 0px 5px 10px 0px; */
  background-color: #fff;
  /* border-radius: 15px; */
  height: 100%;
  color: #555;
}

.softwaredev {
  padding: 1rem 2.5rem !important;
}

.devimg {
  overflow: hidden;
}
.devimg img {
  height: 91ch;
  border-radius: 15px;
  margin-left: -0.7rem;
}

.logodev {
  width: 50% !important;
  margin: 0 !important;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.carddev {
  position: relative;
  background-color: #fff !important;
  width: 335px !important;
  height: 300px;
  perspective: 1000px;
  transform: translate3d(0px, 0px, -250px) rotateX(0deg) scale(1, 1);
  /* border-radius: 20px; */
  /* border: 5px solid #e6e6e6; */
  /* box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3); */
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow; /* Added box-shadow transition */
  /* flex: 0 50%; */
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
  overflow: hidden;
}
.carddev::before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 220px;
  height: 650px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.carddev:hover {
  transform: translate3d(0px, 0px, -250px);
  /* box-shadow: 0 50px 80px -20px rgba(32, 195, 187, 0.5); */
}
.carddev-inner {
  position: relative;
  height: 100%;
  transition: 0.6s;
  transform-style: preserve-3d;
}
.carddev:hover .carddev-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  padding: 0.5rem 2.2rem !important;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  padding: 2rem !important;
  background: linear-gradient(to right, #1abc9c, #3498db);
  color: #ffffff;
  /* box-shadow: 0 5px 20px #3498db; */
  transform: rotateY(180deg);
}
.card-front-1,
.card-back-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* border-radius: 16px; */
}

.card-front-1 {
  background: linear-gradient(to right, #ffbe0b, #ff0066);
}

.card-back-1 {
  background: linear-gradient(to right, #ffbe0b, #ff0066);
  color: #ffffff;
  box-shadow: 0 5px 20px #d26d33;
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  .software {
    box-shadow: none;
  }
  .devimg img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}
/* SoftwareContent */

/* Testimonials ################################################################### */
.testimonials {
  box-shadow: rgb(219 230 255 / 99%) 0px 5px 10px 0px;
  background-color: #fff;
  border-radius: 20px;
  /* height: 100vh; */
  color: #555;
  cursor: -webkit-grab;
  cursor: grab;
}

@media (max-width: 768px) {
  .testimonials {
    box-shadow: none;
  }
}
/* Testimonials */

/* ContactFloat ################################################################### */
.float {
  z-index: 3 !important;
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
  margin-right: 3rem;
  margin-bottom: 3rem;
}
.contact-float {
  width: auto !important;
  font-size: 40px;
  background-color: #fff !important;
  color: #2e64aa !important;
  border-radius: 50% !important;
  box-shadow: rgb(63 63 63 / 50%) 0px 5px 10px 0px;
  border: none;
}

.contact-float:hover {
  background-color: #2e64aa !important;
  color: #fff !important;
}
.contact-fade {
  width: auto !important;
  font-size: 14px;
  padding: 0 !important;
  border: 0.5px solid #ffffff31;
  border-radius: 50% !important;
  box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.25);
  margin-top: 0.5rem !important;
}

.contact-fade img {
  width: 40px;
  height: 40px;
}

.btn-group-vertical {
  align-items: center;
}

.icontact {
  margin-top: -4px;
}
/* animasi float kontak */
.fade-in-right-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-in-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-in-right-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}
/* animasi */
@media (max-width: 768px) {
  .float {
    margin-right: 2rem;
    margin-bottom: 2.5rem;
  }
}
/* ContactFloat */
