body {
  font-family: "Poppins", sans-serif !important;
  line-height: 1.5px;
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 200ms linear;
}
/* Scrollbar CSS */
* {
  scrollbar-width: auto;
  scrollbar-color: #2e64aa #ffffff00;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e7daa;
  border-radius: 10px;
  border: 5px none #f41515;
}
/* Scrollbar CSS */

/* HeroContent ################################################################### */
.slideshow {
  height: 100vh;
  color: #fff;
}
.gradient-overlay {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(270deg, #2e64aa, #2e64aa, #0698f3, #0698f38f, #72faca1e, #72faca00, #72faca00);
  opacity: 1;
}
.banner {
  margin-top: 0;
}
.textBanner {
  position: absolute;
  top: 30%;
  transform: translate(25%, 0);
  padding: 1rem 25rem;
}

@media (max-width: 768px) {
  .slideshow {
    height: 95vh;
    background-color: #2e64aa;
    background-image: none;
  }
  .gradient-overlay {
    background-image: linear-gradient(30deg, #2e64aa, #2e64aa, #0698f3, #0698f38f, #72faca1e, #72faca00, #72faca00);
  }
  .banner {
    width: 150%;
    height: 150% !important;
  }
  .textBanner {
    top: unset;
    bottom: 30%;
    transform: translate(0%, 40%);
    padding: 0rem 1rem;
  }
  .carousel-control-prev {
    display: none !important;
  }
  .carousel-control-next {
    display: none !important;
  }
  .textBanner {
    bottom: 28%;
  }
  .carousel-indicators {
    margin-bottom: 2rem !important;
  }
}
/* HeroContent */

/* AboutContent ################################################################### */
.cabout {
  padding: 5rem 3rem 0rem 3rem !important;
  color: #555;
}
.aboutcol {
  padding: 2rem 3rem 2rem 0rem !important;
}
.title h6::after {
  background: #009ad1;
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  margin-top: 0.3rem;
}
.title h2 {
  color: #555;
}
.body-text {
  font-size: 15px;
  color: #8f8585;
}
.body-text-light {
  font-size: 15px !important;
  color: #ffffffc4 !important;
  text-shadow: 1px 1px 3px rgba(199, 199, 199, 0.1) !important;
}
.acard {
  color: #0698f3;
  border-radius: 11px;
  border: 0;
}
.about-card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
  margin: 1rem 0rem 1.5rem 1rem !important;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 200px;
  transition: 0.5s;
}

.about-icon {
  border-radius: 50%;
  background-image: linear-gradient(145deg, #2e64aa, #2e64aa, #0698f3, #0698f3bd);
  width: 60px !important;
  height: 60px;
  box-shadow: 5px 5px 0 0 rgb(85 108 214 / 15%);
  color: #fff;
  margin: 0 0.5rem;
  padding: 1rem !important;
  transition: 0.5s;
}
.title-card {
  text-shadow: 2px 2px 5px #55555555;
  color: #555;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-shadow: 0 5px 4px 0 rgba(136, 144, 195, 0.2);
}
.about-card::before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.about-card:hover::before {
  background: #0698f33f;
}

.about-card:hover {
  background: #2e64aaee;
  color: #fff;
  transform: scale(1.05);
  z-index: 9;
}

.about-card:hover .about-icon {
  color: #2e64aa;
  background-image: none;
  background-color: #fff;
  box-shadow: none;
}
.about-card:hover .title-card {
  color: #fff;
}
.about-card:hover .body-text {
  color: #fff;
}

@media (max-width: 768px) {
  .cabout {
    padding: 2.5rem 3rem 2rem 3rem !important;
    color: #555;
  }
  .aboutcol {
    padding: 2rem 0rem 1rem 0rem !important;
  }
  .title h6::after {
    background: #009ad1;
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    margin-top: 0.3rem;
  }
  .title h2 {
    color: #555;
  }
  .body-text {
    font-size: 15px;
    color: #9b9b9b;
  }
  .acard {
    padding: 0 !important;
  }
  .about-card {
    margin: 0.6rem 0 !important;
    padding: 10px 15px;
  }
  .about-icon {
    margin: 1rem 0.5rem;
  }
}
/* AboutContent */

/* ServiceContent ################################################################# */
.cservice {
  padding-top: 4rem;
  color: #555;
}
.service {
  margin: 0 !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.appservice {
  background-image: linear-gradient(200deg, #2e64aa, #2e64aa, #0698f3, #0698f3, #2e64aa, #2e64aa);
  border-radius: 15px;
}
.iPhone img {
  width: 65%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.aservice {
  color: #555;
  border-radius: 15px;
  background-color: #fff;
}

.ts {
  text-shadow: 2px 2px 5px #555 !important;
}

.scard {
  color: #0698f3;
  border-radius: 11px;
  border: 0;
}
.service-card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.service-icon {
  border-radius: 50%;
  background-image: linear-gradient(145deg, #2e64aa, #2e64aa, #0698f3, #0698f3bd);
  width: 60px !important;
  height: 60px;
  box-shadow: 5px 5px 0 0 rgb(85 108 214 / 15%);
  color: #fff;
  margin: 1rem !important;
  transition: 0.5s;
}
.service-card::before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.service-card:hover::before {
  background: #0698f33f;
}

.service-card:hover {
  background: #2e64aaee;
  color: #fff;
  transform: scale(1.05);
  z-index: 9;
}

.service-card:hover .service-icon {
  color: #2e64aa;
  background-image: none;
  background-color: #fff;
  box-shadow: none;
}
.service-card:hover .title-card {
  color: #fff;
}
.service-card:hover .body-text {
  color: #fff;
}
.badge.bg-info {
  background-color: #1965c9 !important;
}
.badge.bg-warning {
  background-color: rgb(189, 122, 22) !important;
}

@media (max-width: 768px) {
  .cservice {
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #555;
  }
  .service {
    margin: 2rem 1.5rem 0rem 1.5rem !important;
  }
  .appservice {
    height: 100vh;
    padding: 3rem 2rem;
    border-radius: 0;
  }
  .iPhone img {
    width: 70%;
  }
}
/* ServiceContent */

/* DamkarContent ################################################################# */
.cdamkar {
  padding: 4rem 0 0 0 !important;
}
.damkar {
  margin: 0 !important;
  box-shadow: rgb(219 230 255 / 99%) 0px 5px 10px 0px;
  background-image: linear-gradient(200deg, #2e64aa, #2e64aa, #2e64aa, #0698f3, #0698f3, #0698f3, #2e64aa, #2e64aa, #2e64aa);
  border-radius: 15px;
  height: 100%;
}

.gbdamkar img {
  width: 75%;
}

.logodamkar {
  width: 80%;
}

.dtext {
  font-size: 15px;
}

@media (max-width: 768px) {
  .cdamkar {
    padding: 2rem 0 0 0 !important;
  }
  .damkar {
    height: 100vh;
    background-image: linear-gradient(200deg, #2e64aa, #2e64aa, #2e64aa, #0698f3, #0698f3, #2e64aa, #2e64aa, #2e64aa);
    border-radius: 0;
    margin-top: -0.3rem !important;
  }
  .gbdamkar img {
    margin: 1rem 0 0 0;
    width: 80vw;
  }
  .logodamkar {
    margin: -3rem 0 1rem 0;
  }
  .dtext {
    padding: 1rem 2rem !important;
  }
}
/* DamkarContent */

/* SoftwareContent ############################################################### */
.csoftware {
  padding: 4rem 0 2rem 0 !important;
}
.software {
  color: #555;
}

.softwaredev {
  padding: 0rem 2.5rem !important;
}

.devimg {
  overflow: hidden;
}
.devimg img {
  height: 86ch;
  border-radius: 15px;
}

.logodev {
  width: 50% !important;
  margin: 0 !important;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.carddev {
  position: relative;
  background-color: #fff !important;
  width: 335px !important;
  height: 300px;
  perspective: 1000px;
  transform: translate3d(0px, 0px, -250px) rotateX(0deg) scale(1, 1);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
  overflow: hidden;
}
.carddev::before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 220px;
  height: 650px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.carddev:hover {
  transform: translate3d(0px, 0px, -250px);
}
.carddev-inner {
  position: relative;
  height: 100%;
  transition: 0.6s;
  transform-style: preserve-3d;
}
.carddev:hover .carddev-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  padding: 0.5rem 2.2rem !important;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  padding: 2rem !important;
  background: linear-gradient(200deg, #2e64aa, #0698f3);
  color: #ffffff;
  transform: rotateY(180deg);
}
.card-front-1,
.card-back-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (max-width: 768px) {
  .csoftware {
    overflow: hidden;
  }
  .software {
    box-shadow: none;
  }
  .devimg {
    overflow: unset;
    text-align: center;
  }
  .devimg img {
    width: 90%;
    height: auto;
  }
  .devdesc {
    margin-top: 1.5rem !important;
  }
  .carddev {
    height: 300px;
  }
}
/* SoftwareContent */

/* Testimonials ################################################################### */
.testimonials {
  background-color: #fff;
  border-radius: 20px;
  color: #555;
  cursor: -webkit-grab;
  cursor: grab;
}

@media (max-width: 768px) {
  .testimonials {
    box-shadow: none;
  }
  .react-multi-carousel-list {
    padding: 0rem !important;
  }
}
/* Testimonials */

/* ContactFloat ################################################################### */
.float {
  z-index: 49 !important;
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
  margin-right: 3rem;
  margin-bottom: 3rem;
}
.contact-float {
  width: auto !important;
  background-color: #fff !important;
  color: #2e64aa !important;
  border-radius: 50% !important;
  box-shadow: rgb(63 63 63 / 50%) 0px 5px 10px 0px;
  border: none;
  width: 40px !important;
  height: 40px !important;
}

.contact-float svg {
  width: 25px !important;
  height: 25px !important;
}

.contact-float:hover {
  background-color: #2e64aa !important;
  color: #fff !important;
}
.contact-fade {
  width: auto !important;
  font-size: 14px;
  padding: 0 !important;
  border: none !important;
  border-radius: 50% !important;
  box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.25);
  margin-top: 0.5rem !important;
  overflow: hidden;
  position: relative;
}

.contact-fade::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #fff, transparent);
  transform: translateX(-100%);
  transition: 0.6s;
  position: absolute;
}
.contact-fade:hover {
  background: transparent;
  box-shadow: 0 0 2px 0.5px #0698f3;
}
.contact-fade:hover::before {
  transform: translateX(100%);
}

.contact-fade img {
  width: 40px !important;
  height: 40px !important;
}

.btn-group-vertical {
  align-items: center;
}

.icontact {
  margin-top: -2.5px;
  margin-left: -5px !important;
}
/* animasi float kontak */
.fade-in-right-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-in-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-in-right-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}
/* animasi */
@media (max-width: 768px) {
  .float {
    margin-right: 2rem;
    margin-bottom: 2.5rem;
  }
}
/* ContactFloat */
